# Python cache
__pycache__/
*.pyc

# Environments & editor settings
.env
.vscode/
*.log
.venv/

# OS metadata
.DS_Store
Thumbs.db

# Generated CSVs (outputs)
data/indemnizatii_enriched.csv
data/*.bak
data/*.tmp

# Legacy folders
scripts/legacy/
data/legacy/
scripts/enriched/

# dbt artifacts
dbt_project/target/
dbt_project/logs/
dbt_project/dbt_packages/

# Terraform state
*.tfstate
*.tfstate.*
crash.log
crash.*
terraform.tfstate.backup

# Terraform vars (secrets)
terraform.tfvars
*.auto.tfvars

# Terraform working dirs
.terraform/
.terraform.lock.hcl

# AWS credentials (if any)
.aws/

# Build artifacts
infra/terraform/lambda_package.zip
