romanian_compensation:
  target: ci
  outputs:
    local:
      type: postgres
      host: localhost
      user: your_user
      password: your_password
      port: 5432
      dbname: indemnizatii
      schema: analytics
      threads: 2
