name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
        
      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        
      - name: Python syntax check
        run: |
          python -m compileall scripts
        
      - name: Prepare dbt profile (CI)
        working-directory: dbt_project
        run: cp profiles/profiles.yml.example profiles/profiles.yml

      - name: dbt deps
        working-directory: dbt_project
        run: dbt deps --profiles-dir profiles
      
      - name: dbt compile
        working-directory: dbt_project
        run: dbt compile --profiles-dir profiles